body {
    background: #191b1e;
}

hr {
    border-top-color: #444;
}

.card-header {
    padding: .75rem 1rem;
}

.card-header a:hover {
    text-decoration: none;
}

.scroll-y {
    overflow-y: auto;
}

.material-icons {
    vertical-align: text-top;
}

.card .material-icons {
    vertical-align: sub;
}

.card .float-right a,
.card .float-right a:visited {
    color: #000;
}

footer a,
footer a:visited {
    color: #FFF;
}

footer a:hover {
    color: #FFF;
    text-decoration: underline;
}
