body {
    background: #191b1e;
}

hr {
    border-top-color: #444;
}

.navbar-text img {
    filter: opacity(.5);
    vertical-align: text-top;
}

.card-header {
    padding: .75rem 1rem;
}

.card-header a:hover {
    text-decoration: none;
}

.card-header > span img {
    height: 14px;
    vertical-align: inherit;
}

.mirror-header-icons img {
    vertical-align: top;
}

.scroll-y {
    overflow-y: auto;
}

.material-icons {
    vertical-align: text-top;
}

.card .material-icons {
    vertical-align: sub;
}

.card .float-right a,
.card .float-right a:visited {
    color: #000;
}

.card-body .text-left img {
    height: 18px;
}

footer a,
footer a:visited {
    color: #FFF;
}

footer a:hover {
    color: #FFF;
    text-decoration: underline;
}
